* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fafafa;
}

.table thead th {
  background-color: #4058a7;
  font-weight: 600;
  color: #ffffff;
  padding: 0.75rem 0.5rem;
  vertical-align: middle;
}
.table tbody td {
  padding: 0.75rem 0.5rem;
  vertical-align: middle;
  border-bottom: 1px solid #dee2e6;
}