
    .nav-tabs .nav-link {
      color: blue;
      border: none;
      background-color: transparent;
    }
    .nav-tabs .nav-link.active {
      background-color: blue !important;
      color: white !important;
      border-radius: 5px;
    }
    .header {
      background-color: white;
      padding: 0.5rem 1rem;
      border-bottom: 1px solid #ddd;
    }
    .settings-btn {
      background-color: blue;
      color: white;
      border-radius: 5px;
      padding: 5px 10px;
    }
    .settings-btn:hover {
      background-color: darkblue;
      color: white;
    }
    .settings-menu {
      background: white;
      border-radius: 5px;
    }

    /*content  */
 
     thead tr th {
        background-color: #1f4e99 !important;
        color: white !important;
        vertical-align: middle;
        text-align: center;
    }
    thead input {
        width: 100%;
        font-size: 12px;
        padding: 3px;
        border: 1px solid #ccc;
    }
    .dt-buttons .btn {
        background-color: #1f4e99 !important;
        color: white !important;
        border: none;
        margin-right: 5px;
    }
    .dataTables_wrapper .dataTables_filter input {
        border-radius: 20px;
        padding: 5px 10px;
        border: 1px solid #ccc;
    }